html{
    padding: 0;
    margin: 0;
}
*{
    padding: 0;
    margin: 0;
}
#bodycontainer{
    display: flex;
    flex-direction: column;
}
#header{
    display: flex;
    flex-direction: column;
    background-color: rgb(63, 63, 63);
    color: white;
    text-align: center;
    height: 175px;
}
#logobar{
    height: 75%;
    background-color: black;
}
#menubar{
    height: 25%;
}
#content{
    display: flex;
    flex-direction: row;
    height: 750px;
}
#productimg{
    background-color: red;
    width: 50%;
    display: flex;
    flex-direction: row;
}
#imgsidebar{
    width: 15%;
    background-color: orange;
}
#productinfo{
    width: 50%;
    background-color: blue;
}
#related{
    background-color: purple;
    height: 200px;
}
#recommended{
    background-color: green;
    height: 200px;
}
#footer{
    background-color: gray;
    height: 200px;
}
#stickybottom{
    background-color: red;
    height: 150px;
}