#speechbubble::after {
    content: '';
    position: absolute;
    left: 1px;
    top: 50%;
    width: 0;
    height: 0;
    border: 20px solid transparent;
    border-right-color: #000;
    border-left: 0;
    border-bottom: 0;
    margin-top: -10px;
    margin-left: -10px;
}

#descriptioncontainer {
    background-image: url('src/components/description/verycoolbackground.png');
    background-size: unset;
    background-repeat: no-repeat;
    background-position: right bottom;
}