.sticky-footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 75px;
    background: black;
    color: white;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
    z-index: 10000;
    display: flex;
    transform: translateY(100%);
    transition: transform 0.3s ease-out;
    font-family: 'Fjalla One', Arial, Tahoma, Verdana, sans-serif;
    font-size: 16px;
}

.sticky-footer.show {
    transform: translateY(0);
}

.content, .actions {
    display: flex;
    align-items: center;
    margin: 0 10px;
    font-family: 'Fjalla One', Arial, Tahoma, Verdana, sans-serif;
    flex-wrap: wrap;
}

.content div, .actions div {
    margin-right: 10px;
}

.sticky-footer button {
    padding: 9px 20px;
    margin: 0 5px;
    background: #000;
    border-radius: 5px;
    color: white;
    border: none;
    cursor: pointer;
    font-family: 'Fjalla One', Arial, Tahoma, Verdana, sans-serif;
    font-size: 14px;
}

.sticky-footer select {
    padding: 10px 25px;
    margin: 0 5px;
    background: #000;
    color: white;
    height: 40px;
    border: none;
    cursor: pointer;
    font-family: 'Fjalla One', Arial, Tahoma, Verdana, sans-serif;
    font-size: 15px;
    border: 1px solid #444;
}

.sticky-footer img {
    padding: 10px;
}

.cart-button button {
    background: #e34848;
}

.actions span {
    padding: 5px 10px;
    background: #000;
    color: white;
    
    
}

.quantity-controls {
    display: flex;
    align-items: center;
    background: #000;
    width: 90px;
    height: 35px;
    border-radius: 5px;
    border: 1px solid #444;
    padding: 0px;
    font-size: 14px;
    justify-content: center;
}

.quantity-controls button,
.quantity-controls span {
    margin: 0 5px;
    padding: 2px 5px;
}