*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
.carousel-container{
  padding: 0 4%;
  text-align: center;
  font-family: "Fjalla One";
  color:#1b1b1b;
}
.carousel-container h5{
  margin: 2rem;
}

.carousel-container img:hover{
  cursor: pointer;
}

.slick-slide > div {
  margin: 0 .8rem;
}
.slick-list {
  margin: 0 .8rem;
}

.slick-prev:before,
.slick-next:before {
  color: #1b1b1b
}

.related-product{
  position: relative;
}
.carousel-image{
  width: 100%;
  object-fit: contain;
}

.image-front{
  animation: fadeOut 1s forwards;
}
.image-back{
  animation: fadeOut 1s forwards;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}






.pop-up{
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100%;
  width: 100%;
  z-index: 1;
}

.pop-up:hover{
  cursor: pointer;
}
.pop-up > :first-child {
  margin-bottom: 60%; /* Add margin to separate from the second item */
}
/* Style for the second item */
.pop-up > :nth-child(2) {
  margin-top: auto; /* Push the second item to the bottom */
}
.new-tag{
  font-size: .8rem;
  background-color: #262626;
  color: white;
  margin: .2rem;
  padding-left: .2rem;
  padding-right: .2rem;
  padding-top: .1rem;
  padding-bottom: .1rem;
  width: 3rem;
  margin-bottom: 100%;
  z-index: 1;
}
@keyframes slideInFromLeft {
  0% {
    transform: translateX(-10%); /* Start position outside the div on the left */
  }
  100% {
    transform: translateX(-5%); /* End position at the original position inside the div */
  }
}

.detail-tagRec{
  color: white;
  padding: .4rem;
  text-align: center;
  margin-bottom: 10rem;
  animation: slideInFromLeft .3s ease-out;
  transform: translateX(-5%);
  width: 8em;
  max-width: 90%;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.detail-tag h6{
  font-size: 2rem;
}

.detail-tagRec p{
  font-size: .6rem
}

.sizes{
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  max-width: 100%;
  height: 100%;
  align-content: flex-end; /* Adjust the font size to fit the box */
}

.size {
  border: 2px solid black;
  width: 1rem;
  height: 1rem;
  padding: .1rem;
  margin: .1rem;
  font-size: 0.5rem;
  align-items: center;
}

.faded-size{
  opacity: .4;
}
