.image-gallery{
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 45%;
    margin-top: .3%;
    margin-right: 3%;
    padding-bottom: 5%;
}
.sidebar{
    display: flex;
    flex-direction: column;
    width: 20%;
    height: 100%;
    max-height: 100%;
    margin-left: 8%;
}
.main-content{
    display: flex;
    width: 100%;
    height: 100%;
}
.thumbnail{
    display: flex;
    width: 100%;
    min-height: 20%;
    height: 20%;
    object-fit: contain;
    padding-bottom: 8%;
}
.active-thumbnail{
    display: flex;
    opacity: 50%;
    height: 20%;
    min-width: 100%;
    object-fit: contain;
    padding-bottom: 8%;
}
.large-image {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  max-width: 100%;
  overflow: hidden;
  position: relative;
}
.large-image img {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.large-image:hover img {
  transform: scale(5);
  cursor: crosshair;
  width: 100%;
  height: 100%;
}

@media (max-width: 1000px ) {
  .image-gallery {
    flex-direction: column;
    height: 75vh;
  }
  .large-image {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75%;
    width: 100%;
    max-width: 100%;
    margin-left: 1vw;
  }

  .sidebar {
    order: 2;
    flex-direction: row;
    height: 20%;
    padding-top: 2%;
  }
  .active-thumbnail{
    display: flex;
    opacity: 50%;
    height: auto;
    object-fit: contain;
    max-width: 100%;
  }
  .thumbnail {
    height: auto;
  }

  .main-content{
    order: 1;
    width: 100%;
    height: 50%;
  }

}