.image-gallery{
    display: flex;
    flex-direction: row;
    height: 90vh;
    width: 50%;
    margin-top: .3%;
    margin-right: 3%;
    padding-bottom: 5%;
}
.sidebar{
    display: block;
    flex-direction: column;
    width: 20%;
    height: 90%;
    margin-left: 10%;
}
.main-content{
    display: flex;
    width: 70%;
    height: 100%;
    object-fit: contain;
}
.thumbnail{
    display: flex;
    width: 100%;
    min-height: 20%;
    height: 20%;
    object-fit: contain;
    padding-bottom: 5%;
}
.active-thumbnail{
    display: flex;
    opacity: 50%;
    width: 100%;
    height: 20%;
    object-fit: contain;
    padding-bottom: 8%;
}
.large-image {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  max-width: 100%;
  overflow: hidden;
  position: relative;
  object-fit: contain;
  align-items: flex-start;
}
.large-image img {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  object-fit: contain;
  vertical-align: top;
}

.large-image:hover img {
  transform: scale(5);
  cursor: crosshair;
  width: 100%;
  height: 100%;
  vertical-align: top;
}

@media (max-width: 1100px ) {
  .image-gallery {
    display: flex;
    flex-direction: column;
    height: auto;
  }
  .large-image {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 100%;
    max-width: 100%;

  }

  .sidebar {
    order: 2;
    display: flex;
    flex-direction: row;
    height: 20%;
    padding-top: 2%;
    margin-right: 4%;
  }
  .active-thumbnail{
    display: flex;
    opacity: 50%;
    height: auto;
    width: auto;
    object-fit: contain;
  }
  .thumbnail {
    height: auto;
    width: auto;
  }

  .main-content{
    order: 1;
    width: 100%;
    height: 50%;
  }

}